html
	head
		title Makes your work with Google Sheets a little bit easier.
		script(src="/js/script.js")
		link(rel="stylesheet" href="/css/style.css")
	body
		div#wrapper-container
			input#column(value="AH")
			button#get-index(type="button") Find index
			div#message 
